
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px,auto));
    align-items: center;
    gap: 1rem;
    text-align: center;
    cursor: pointer;
    padding-top:3rem ;
    margin-right: 18px;
}

.box{
  

   
}

.box img{
    height: 160px;
    width: 160px;
    border-radius:40px;
    padding:40px 50px;
    background:linear-gradient(rgb(188, 255, 188),rgb(255, 224, 255));

}

section a{
   color: aliceblue; 
   font-weight: bold;
}

.container h3{
   color: #fff;
   margin-left: 8px;
   
}

.container p{
    color: rgb(255, 255, 255);
}

.container button{
    padding: 5px 13px;
    background:linear-gradient(rgb(255, 151, 151),rgb(7, 194, 1));
}

.box a{
    text-decoration: none;
    background: rgb(43, 255, 220);
    padding: 5px 8px;
    border-radius: 4px;
    color: rgb(31, 31, 31);
    font-weight: 200;
    transition: all 0.3s ease;
}

.box a:hover{
    background: rgb(9, 46, 255);
    color: #fff;
    transition: all 0.3s ease;
}

.find input{
    padding: 9px 200px;
   background: #fff;
    border-radius:10px;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(44, 5, 5, 0.575);
}

.find button{
    padding: 9px 20px;
    background: linear-gradient(rgb(255, 228, 228),rgb(0, 168, 154));
    border-radius:10px;
    border: 1px solid rgb(2, 129, 161);
}

.find button:hover{
    background: linear-gradient(rgb(255, 255, 255),rgb(9, 255, 234));     
}



.login button{
    padding: 10px 19px;
    background: rgb(173, 255, 248);
    border-radius: 10px;
     margin-left: 10px;
    font-size: 14px;
    font-weight: 400px;
    margin-top: 10px;
    transition: all 0.3s ease;
     border: 1px solid rgba(255, 255, 255, 0.678);

}


.login button:hover{
background: rgb(9, 46, 255);
color: #fff;
}

.login{
    padding: 0 0 10px 8px;
}

.box img{
    transition: all 0.4s ease;
}
.box img:hover{
    padding:40px;
}















